graft docs
graft boolean
graft .github


include .gitignore
include CHANGELOG.rst
include LICENSE.txt
include MANIFEST.in
include README.rst
include setup.py
include setup.cfg
include requirements-dev.txt
include tox.ini

global-exclude *.py[co] __pycache__
